<a href="https://colab.research.google.com/github/sanjib-biswal-git/PYTHON-BASICS_AND_LIBRARIES/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS - INTRODUCTION

ðŸ“Š What is Pandas?

Pandas (Python Data Analysis Library) is a Python library for data manipulation and analysis.

Itâ€™s built on top of NumPy, but adds tabular (Excel/SQL-like) capabilities.

The main idea: work with data in rows & columns, not just arrays.

In [ ]:
# 1. Series (1D labeled array)
# Think of it as a column in Excel.

import pandas as pd
s=pd.Series([10,20,30,40,50],index=["a","b","c","d","e"])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
# 2. DataFrame (2D labeled data structure)
# Think of it as a full Excel sheet or SQL table.

import pandas as pd
data={
    "Name":["Sanjib","Nitin","Rajesh"],
    "Age":[20,21,22],
    "City":["Delhi","Hyderabad","Bangalore"]
}
df = pd.DataFrame(data);
print(df)

     Name  Age       City
0  Sanjib   20      Delhi
1   Nitin   21  Hyderabad
2  Rajesh   22  Bangalore

# DATA ANALYSIS

>Data analysis is a process of inspecting , cleansing , transforming and modelling data with the goal of discovering useful information , informing conclusions and supporting decision-making.

# PYTHON LIBRARIES FOR DATA ANALYSIS

1.NUMPY
2.STATSMODEL
3.MATPLOTLIB
4.SCIPY
5.SCIKIT LEARN
6.PANDAS
7.SEABORN

# WHAT IS PANDAS?

>The name "pandas" has a reference to both "panel data" and "python data analysis" and was created by wes mckinney in 2008.

>Pandas is a python library used for working with data sets.

>It has functions for analyzing,cleaning,exploring and manipulating data.

>Read and write data structures and diff. formats: csv , JSON , ZIP , XML , txt etc.

# PANDAS DATA STRUCTURE

1.Series - 1D LABELED ARRAYS | pd.Series(data)

2.DataFrames - 2D DS with columns | Much like a table

3.Panel - 3D container of data.*italicized text*

# IMPORTANCE OF PANDAS

>Pandas allows us to analyze big data and make conclusions based on statistical theories.

>Pandas can clean messy data sets, and make them readable and relevant.

>Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data

>Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects

>Data set merging and joining. Flexible reshaping and pivoting of data sets Provide time-series functionality.

# **PANDAS SERIES**

In [4]:
import pandas as pd
x=[3,4,5,6,7,8]
var = pd.Series(x)
print(var)
print(var[3]) #6
print(type(var))

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
6
<class 'pandas.core.series.Series'>

In [8]:
import pandas as pd
x=[3,4,5,6,7,8]
var = pd.Series(x , index=['a','b','c','d','e','f'], dtype="float" , name="Data_Name")
print(var)

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
Name: Data_Name, dtype: float64

In [12]:
#Passing a dict
dic={"name":["Python","C","C++","Java"],
     "popularity":[12,13,14,15],
     "rank":[1,2,3,4]
     }

var1 = pd.Series(dic)
print(var1)

name          [Python, C, C++, Java]
popularity          [12, 13, 14, 15]
rank                    [1, 2, 3, 4]
dtype: object

In [14]:
import pandas as pd
#repeating the same data
var = pd.Series(12,index=[1,2,3,4,5])
print(var)

1    12
2    12
3    12
4    12
5    12
dtype: int64

In [16]:
#Adding two Series
s1 = pd.Series(12,index=[1,2,3,4,5,6,7])
s2 = pd.Series(12,index=[1,2,3,4])
print(s1+s2)
#Numpy will give an error if we do the same thing. (Broadcast error)
#Works fine with missing data.

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

# Basics of DataFrames in Pandas

In [19]:
# >>DataFrame
l=[1,2,3,4,5,6]
var =pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [21]:
#Passing a dict
dic={"name":["Python","C","C++","Java"],
     "popularity":[12,13,14,15],
     "rank":[1,2,3,4]
     }
#lengths must be same for DataFrame or it'll give error.
var1 = pd.DataFrame(dic)
print(var1)

     name  popularity  rank
0  Python          12     1
1       C          13     2
2     C++          14     3
3    Java          15     4

In [32]:
# Passing column attribute
d={"a":[1,2,3,4,5,6] , "s":[1,2,3,4,5,6], "k":[1,2,3,4,5,6]}
var =pd.DataFrame(d,columns=["a","k"])
print(var)
print(var["a"][3])  #4

   a  k
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6
4

In [34]:
list=[[1,2,3,4,5],[11,12,13,14,15]]
var2 = pd.DataFrame(list)
print(var2)

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [36]:
#DataFrames using Series
sr = {"s":pd.Series([1,2,3,4]) , "r":pd.Series([1,2,3,4])}
var3 = pd.DataFrame(sr)
print(var3)

   s  r
0  1  1
1  2  2
2  3  3
3  4  4

# ARITHMETIC OPERATORS IN PANDAS

In [41]:
# Something interesting

var = pd.DataFrame({"A":[1,2,3,4] , "B":[5,6,7,8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [56]:
var = pd.DataFrame({"A":[1,20,30,40] , "B":[5,6,7,8]})
print(var)
var["C"] = var["A"] + var["B"]  # + , - , * , / , //
print(var)

var["python"] = var["A"] <=20
print(var)

    A  B
0   1  5
1  20  6
2  30  7
3  40  8
    A  B   C
0   1  5   6
1  20  6  26
2  30  7  37
3  40  8  48
    A  B   C  python
0   1  5   6    True
1  20  6  26    True
2  30  7  37   False
3  40  8  48   False

# DELETE AND INSERT DATA IN PANDAS

In [68]:
#INSERT
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4,5] , "B":[9,8,7,6,5]})
print(var)

var.insert(1,"python",var["A"])  # insertAsThisIndex(location) , name , data
print(var)

var.insert(3,"python_1",[11,12,13,14,15])  #data must be of same length
print(var)

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5
   A  python  B
0  1       1  9
1  2       2  8
2  3       3  7
3  4       4  6
4  5       5  5
   A  python  B  python_1
0  1       1  9        11
1  2       2  8        12
2  3       3  7        13
3  4       4  6        14
4  5       5  5        15

In [73]:
var = pd.DataFrame({"A":[1,2,3,4,5] , "B":[9,8,7,6,5]})

#Copying data using slicing
var["python"] = var["A"][:3]

print(var)

   A  B  python
0  1  9     1.0
1  2  8     2.0
2  3  7     3.0
3  4  6     NaN
4  5  5     NaN

In [78]:
# DELETE

var = pd.DataFrame({"A":[1,2,3,4,5] , "B":[9,8,7,6,5],"C":[11,12,13,14,15]})
var1 = var.pop("B")

#or del var["B"]

print("Deleted")
print(var1)
print(var)

Deleted
0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64
   A   C
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

# Working with the Titanic DataSet

In [6]:
import pandas as pd

# Titanic dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

print("First 5 rows:")
print(df.head())

print("\nInfo:")
print(df.info())

First 5 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [8]:
#Indexing and Slicing
# loc (label-based)
print(df.loc[0, "Name"])
print(df.loc[0:5, ["Name","Age"]])

# iloc (position-based)
print(df.iloc[0, 2])
print(df.iloc[0:5, 0:3])

Braund, Mr. Owen Harris
                                                Name   Age
0                            Braund, Mr. Owen Harris  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                             Heikkinen, Miss. Laina  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                           Allen, Mr. William Henry  35.0
5                                   Moran, Mr. James   NaN
3
   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

In [10]:
#Data Cleaning

# Missing values
print(df.isnull().sum())

# Drop rows with missing values
df_drop = df.dropna(subset=["Age"])

# Fill missing values
df["Age"].fillna(df["Age"].median(), inplace=True)

# Drop column
df_clean = df.drop("Cabin", axis=1)


df.rename(columns={"Pclass": "PassengerClass"}, inplace=True)

print(df.head())

PassengerId         0
Survived            0
PassengerClass      0
Name                0
Sex                 0
Age                 0
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin             687
Embarked            2
dtype: int64
   PassengerId  Survived  PassengerClass  \
0            1         0               3
1            2         1               1
2            3         1               3
3            4         1               1
4            5         0               3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

/tmp/ipython-input-2320773289.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)

In [12]:
#Aggregation

# Group by class
print(df.groupby("PassengerClass")["Fare"].mean())

# Group by gender
print(df.groupby("Sex")["Survived"].mean())

# Pivot table
pivot = pd.pivot_table(df, index="Sex", columns="PassengerClass", values="Survived", aggfunc="mean")
print(pivot)

PassengerClass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
PassengerClass         1         2         3
Sex
female          0.968085  0.921053  0.500000
male            0.368852  0.157407  0.135447

In [14]:
#Merging and joining


extra = pd.DataFrame({
    "PassengerId": [1,2,3],
    "VIP": ["Yes","No","No"]
})

# Merge
merged = pd.merge(df, extra, on="PassengerId", how="left")
print(merged.head())

   PassengerId  Survived  PassengerClass  \
0            1         0               3
1            2         1               1
2            3         1               3
3            4         1               1
4            5         0               3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  VIP
0      0         A/5 21171   7.2500   NaN        S  Yes
1      0          PC 17599  71.2833   C85        C   No
2      0  STON/O2. 3101282   7.9250   NaN        S   No
3      0            113803  53.1000  C123        S  NaN
4      0            373450   8.0500   NaN        S  NaN

In [17]:
#Exporting


df.to_csv("titanic_clean.csv", index=False)
df.to_excel("titanic_clean.xlsx", index=False)

print("Files exported successfully!")

Files exported successfully!