<a href="https://colab.research.google.com/github/sanjib-biswal-git/PYTHON-BASICS_AND_LIBRARIES/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                     ** Pandas**


ðŸ“Š What is Pandas?

Pandas (Python Data Analysis Library) is a Python library for data manipulation and analysis.

Itâ€™s built on top of NumPy, but adds tabular (Excel/SQL-like) capabilities.

The main idea: work with data in rows & columns, not just arrays.

In [3]:
# 1. Series (1D labeled array)
# Think of it as a column in Excel.

import pandas as pd
s=pd.Series([10,20,30,40,50],index=["a","b","c","d","e"])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
# 2. DataFrame (2D labeled data structure)
# Think of it as a full Excel sheet or SQL table.

import pandas as pd
data={
    "Name":["Sanjib","Nitin","Rajesh"],
    "Age":[20,21,22],
    "City":["Delhi","Hyderabad","Bangalore"]
}
df = pd.DataFrame(data);
print(df)

     Name  Age       City
0  Sanjib   20      Delhi
1   Nitin   21  Hyderabad
2  Rajesh   22  Bangalore