<a href="https://colab.research.google.com/github/sanjib-biswal-git/PYTHON-BASICS_AND_LIBRARIES/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print statement example

In [ ]:
print("Hello World!")

Hello World!

if-statement example

In [ ]:
if 5>2:
 print("Hello World")

Hello World

if-else statement

In [ ]:
age=18
if(age>=18):
     print("You can vote.")
else:
     print("Can't vote.")

You can vote.

variables in python

In [ ]:
x=5
y="Hello"
z=4.5
b=False
c=True
print(b)
print(c)

False
True

# -This is a comment.
#-The same have to be used for multi lines comments also.
-----------------------------------
use multi-line string
"""
//text goes here
"""
-----------------------------------
'''
//text goes here

'''

Casting

In [ ]:
x=str(3) #'3'
y=int(3) #3
z=float(3) #3.0

Get the type

In [ ]:
x=5
print(type(x))
y="John"
print(type(y))

<class 'int'>
<class 'str'>

Python is case sensitive.
<!-- When something is case sensitive, it treats uppercase (A–Z) and lowercase (a–z) letters as different characters -->
A will not overwrite a.
There may be indentation errors.

Many Values to Multiple Variables

In [ ]:
x,y,z = "Orange","Apple","Banana"
print(x)
print(y)
print(z)

Orange
Apple
Banana

One Value to Multiple Variables

In [ ]:
x=y=z ="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection**
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits=["Apple","Grapes","Cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

Apple
Grapes
Cherry

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
<!-- TypeError: unsupported operand type(s) for +: 'int' and 'str' -->

In [ ]:
x = 5
y = "John"
print(x + y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x = 5
y = "John"
print(x, y)

Global Variables:

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x=7
def myFunc():
  print("My name is ",x)
myFunc()

My name is  7

f you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x="Sanjib"
def myFunc():
  x="Larry"
  print("My name is "+x)
myFunc()

print("My name is "+x)

My name is Larry
My name is Sanjib

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myFunc():
  global var28
  var28=6
myFunc()
print(var28)

6

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
var33 = 45
def myFunc():
  global var33
  var33=65
# myFunc()

print(var33)

45

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Text Type:	        str
Numeric Types:	    int, float, complex
Sequence Types:	    list, tuple, range
Mapping Type:	      dict
Set Types:	        set, frozenset
Boolean Type:	      bool
Binary Types:	      bytes, bytearray,  memoryview
None Type:	         NoneType

x = "Hello World"	   str
x = 20	             int
x = 20.5	           float
x = 1j	             complex
x = ["apple", "banana", "cherry"]	     list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
x = None	NoneType

**Random Number**
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random
print(random.randrange(1,100))

24

Casting in python is therefore done using constructor functions:
int()
float()
str()

In [ ]:
x="Sanjib"
print(len(x))

6

Multiline Strings
You can assign a multiline string to a variable by using three quotes:

Example-->

In [ ]:
a="""
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
"""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**
----------------------------

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a="Hello World"
print(a[1]) #e

e

**Looping Through a String**

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt="Sanjib is a good boy"
print("good" in txt)

True

Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt="Sanjib is a good boy."
print("good" not in txt)

False

**Slicing Strings**

In [ ]:
b="Hello, World!"
print(b[2:5]) #llo

llo

Slice From the Start

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**
--------------------

Use negative indexes to start the slice from the end of the string:

Tip: Count from last and index starts form 1.

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Python - Modify Strings**

UpperCase - .upper()
LowerCase - .lower()
Remove whitespace - .strip()
Replace String - .replace("Str1","Str2")
#char in python is also considered as a string of length 1.

Split string - .split(",")

String Concatenation - +

F-Strings

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
age = 20
print(f"My age is {age}")

My age is 20

**Placeholders and Modifiers**

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

**Placeholders can have math operations.**

In [ ]:
print(f"I need {20*40} million dollars.")

I need 800 million dollars.

**Escape Character**
\n-new line

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Boolean - True , False

#Falsy Values

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x,int))  #True
print(isinstance(x,float))  #False

True
False

**PYTHON OPERATORS**

.Arithmetic operators
    +,-,*,/
	Exponentiation	x ** y
    Floor division	x // y

.Assignment operators
.Comparison operators
.Logical operators
    and,or,not
.Identity operators
----------------------
is - return strue if both variable are same object

is not - return true if both variable are not same object

.Membership operators
------------------------
in
not in

.Bitwise operators
--------------------
AND(&)
OR(|)
XOR(^)
NOT(~)
LEFT SHIFT(<<)
RIGHT SHIFT(>>)

Four built-in libraries in python - List,Tuple,Set,Dictionary

**PYTHON LISTS**

--List items are ordered , changable and allow duplicate values.

--Tuple items are ordered and unchangeable. Allows duplicate members.

--Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.


*Set items are unchangeable, but you can remove and/or add items whenever you like.

--Dictionary is a collection which is ordered** and changeable. No duplicate members.


**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
mylist =["apple","banana","cherry","apple"]
print(mylist)
print(mylist[2])   #access list items
print(mylist[-1])  #apple
print(len(mylist))

#list constructor
thislist = list(("apple","banana","grapes"))
print(thislist)

#change item value
mylist[0] = "avocado"
print(mylist)

#change in a range
thislist[0:2]=["hii","bye"]
print(thislist)


#Change the second value by replacing it with two new values
thisslist = ["apple", "banana", "cherry"]
thisslist[1:2] = ["blackcurrant", "watermelon"]
print(thisslist)


#Change the second and third value by replacing it with one value
thislis = ["apple", "banana", "cherry"]
thislis[1:3] = ["watermelon"]
print(thislis)
thislis.insert(1,"Jk Rollin")
print(thislis)
thislis.append("kurkure")
print(thislis)

['apple', 'banana', 'cherry', 'apple']
cherry
apple
4
['apple', 'banana', 'grapes']
['avocado', 'banana', 'cherry', 'apple']
['hii', 'bye', 'grapes']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']
['apple', 'Jk Rollin', 'watermelon']
['apple', 'Jk Rollin', 'watermelon', 'kurkure']

**Extend List**

In [ ]:
list1=["apple"]
list2=["orange"]
list1.extend(list2)
print(list1)
print(list2)

['apple', 'orange']
['orange']

**Add Any Iterable**

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Remove Specified Item**

The remove() method removes the specified item.

If duplicate elements are present,then it removes only the first one.

In [ ]:
thislist=["a","b","c","d"]
thislist.remove("c")
print(thislist)

['a', 'b', 'd']

Remove Specified Index

The pop() method removes the specified index.

To remove last element
list.pop()

In [ ]:
thislist=["apple","orange","banana"]
thislist.pop(1)
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
#del thislist

['banana', 'cherry']

The clear() method empties the list.

**Loop through a List**

In [ ]:
thislist=["apple","orange","banana"]
for x in thislist:
  print(x)

apple
orange
banana

In [ ]:
# Print from 1 to 10 using for-loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):   #range(3) - generates 0,1,2
  print(thislist[i])

apple
banana
cherry

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i=0
while(i<len(thislist)):
  print(thislist[i])
  i+=1

apple
banana
cherry

**Looping Using List Comprehension**

---Its a bad practice in python.

In [ ]:
thislist = ["apple", "banana", "cherry"]
# for x in thislist:
#   print(x)
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#short alternative for the code given above
#syntax
# newlist = [expression for item in iterable if condition == True]
# The condition is like a filter that only accepts the items that evaluate to True.

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)
# newlist = [x.upper() for x in fruits]
# newlist = ['hello' for x in fruits]

['apple', 'banana', 'mango']

Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

Example
You can use the range() function to create an iterable:

In [ ]:
newlist=[x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

**Python - Sort Lists**

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort();
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [ ]:
# Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True);
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

Customize Sort Function

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def my_funcn(n):
  return abs(n-50)

thislist=[100,50,65,82,23]
thislist.sort(key=my_funcn)
print(thislist)

[50, 65, 23, 82, 100]

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

**Reverse Order**

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [28]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

**Copy a List**

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

Use the copy() method

You can use the built-in List method copy() to copy a list.

In [31]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

# Use the list() method
# Another way to make a copy is to use the built-in method list()
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

# Use the slice Operator
# You can also make a copy of a list by using the : (slice) operator.

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [34]:

# Join Two Lists

# There are several ways to join, or concatenate, two or more lists in Python.
# One of the easiest ways are by using the + operator.
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

# or

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

# Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

**List Methods**

Python has a set of built-in methods that you can use on lists.

Method          	Description
append()	 Adds an element at the end of the list

clear()    Removes all the elements from the list

copy()	   Returns a copy of the list

count()	   Returns the number of elements with the specified value

extend()	 Add the elements of a list (or any iterable), to the end of the current list

index()	   Returns the index of the first element with the specified value

insert()	 Adds an element at the specified position

pop()	     Removes the element at the specified position

remove()	 Removes the item with the specified value

reverse()	 Reverses the order of the list

sort()	   Sorts the list

**Python Tuples**

In [35]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Create Tuple With One Item**

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [38]:
thistuple = ("apple")
print(type(thistuple)) #str

thistuple = ("apple",)
print(type(thistuple)) #tuple

<class 'str'>
<class 'tuple'>

**Python - Update Tuples**

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [39]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)

print(x)

# -------------------

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'kiwi', 'cherry')

**Unpacking a Tuple**

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [40]:
fruits=("apple","banana","cherry")
(a,b,c) = fruits
print(a,b,c)

apple banana cherry

Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [41]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(a,b,*c) = fruits
print(a,b,c)

apple banana ['cherry', 'strawberry', 'raspberry']

Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [43]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

Join Two Tuples

To join two or more tuples you can use the + operator:

In [44]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [45]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits*2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

**Tuple Methods**

Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [2]:
mytuple = (1, 2, 3, 2, 4, 2, 5)
print(mytuple.count(2))   # How many times "2" appears?


mytuple = ("apple", "banana", "cherry", "banana", "kiwi")
print(mytuple.index("banana"))   # First occurrence

3
1

**Python Sets**

Set

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

*Sets don't allow duplicate values.

In [13]:
thisset = {"apple", "banana", "cherry"}
print(thisset)


# Duplicate values will be ignored:

thissett = {"apple", "banana", "cherry", "apple"}
print(thissett)

# Note: The values True and 1 are considered the same value in sets,
# and are treated as duplicates:

#Same for False and 0.

{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana'}

The set() Constructor

It is also possible to use the set() constructor to make a set.

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)


#Collecation data types in python : List,Tuple,Set,Dictionary

{'apple', 'cherry', 'banana'}

Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [16]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [17]:
# To add one item to a set use the add() method.

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [18]:
# Add Sets
# To add items from another set into the current set,
# use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

# Add Any Iterable
# The object in the update() method does not have to be a set,
# it can be any iterable object (tuples, lists, dictionaries etc.).

{'apple', 'pineapple', 'cherry', 'papaya', 'mango', 'banana'}

In [27]:
# Remove Item
# To remove an item in a set, use the remove(),
# or the discard() method.

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)


print("--------------")
# You can also use the pop() method to remove an item,
# but this method will remove a random item,
# so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item.

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)


#clear() empties the set.
#del deletes the set completely.

#union() '|' , intersection() '&' , differenece() '-' , symmetric difference() '^'

{'apple', 'cherry'}
--------------
apple
{'cherry', 'banana'}

**Python Dictionaries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [3]:
thisdict = {
  "name":"Sanjib",
  "age":18,
  "email":"sanjib@gmail.com"
}
print(thisdict)

{'name': 'Sanjib', 'age': 18, 'email': 'sanjib@gmail.com'}

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
x = thisdict.get("model")
print(x)

Mustang
Mustang

In [13]:
# Get Keys
# The keys() method will return a list of all the keys in the dictionary.
x = thisdict.keys()
print(x)

# Example
# Add a new item to the original dictionary, and
# see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

# Get Values
# The values() method will return a list of
# all the values in the dictionary.

# Example
# Get a list of the values:

x = thisdict.values()
print(x)

# Get Items
# The items() method will return each item in a dictionary,
# as tuples in a list.

# Example
# Get a list of the key:value pairs

x = thisdict.items()
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
# Update Dictionary
# The update() method will update the dictionary with the
#  items from the given argument.

# The argument must be a dictionary, or an iterable object
#  with key:value pairs.

# Example
# Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [15]:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)


# The popitem() method removes the last inserted item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang'}

In [16]:
# Loop Through a Dictionary
# You can loop through a dictionary by using a for loop.

# When looping through a dictionary, the return value are the keys
#  of the dictionary, but there are methods to return the values as well.
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)  #keys

for x in thisdict:
  print(thisdict[x])   #values

brand
model
year
Ford
Mustang
1964

In [17]:
# Nested Dictionaries
# A dictionary can contain dictionaries, this is called nested dictionaries.

myfamily = {
  "child1" : {
    "name" : "Sanjib",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

# Access Items in Nested Dictionaries
# To access items from a nested dictionary,
#  you use the name of the dictionaries, starting with the outer dictionary:

print(myfamily["child2"]["name"])

{'child1': {'name': 'Sanjib', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b

if elif else

<!-- Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

Example
One line if else statement: -->

a = 2
b = 330
print("A") if a > b else print("B")

LOgical operator - and , or , not



<!-- The pass Statement

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

Example -->
a = 33
b = 200

if b > a:
  pass

In [2]:
# Python match statement
day = 8
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _: #default
    print("Enter correct day.")

Enter correct day.

Python Loops

Python has two primitive loop commands:

while loops
for loops

<!-- With the break statement we can stop the loop even if the while condition is true: -->

<!-- With the continue statement we can stop the current iteration, and continue with the next: -->

In [4]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1


# With the else statement we can run a block of code once
#  when the condition no longer is true:

# Example
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
1
2
3
4
5
i is no longer less than 6

In [8]:
for i in range(6):
  print(i)  #0-5
print("--------------")
for i in range(2,6):
  print(i)  #2-5


# range(start,end,increment seq)

0
1
2
3
4
5
--------------
2
3
4
5

**Python Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Creating a Function

In Python a function is defined using the def keyword:

In [14]:
def my_funcn():
  print("Hello from a funcn.")
my_funcn()
print("--------------")

# Arguments
# Information can be passed into functions as arguments.

def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")
print("--------------")

# If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

Hello from a funcn.
--------------
Emil Refsnes
Tobias Refsnes
Linus Refsnes
--------------
The youngest child is Linus

In [15]:
# Keyword Arguments
# You can also send arguments with the key = value syntax.

# This way the order of the arguments does not matter.

# Example
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")


# f the number of keyword arguments is unknown,
# add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

The youngest child is Linus

In [ ]:
# RECURSION IN PYTHON

def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

In [16]:
# A lambda function is a small anonymous function.

# A lambda function can take any number of arguments,
# but can only have one expression.

# Add 10 to argument a, and return the result:
x = lambda a:a+10
print(x(5)) #15

x = lambda a, b: a * b
print(x(5, 6))  #30

15

Python does not have built-in support for Arrays, but Python Lists can be used instead.

**PYTHON OOPS**

OOP stands for Object-Oriented Programming.

Python is an object-oriented language, allowing you to structure your code using classes and objects for better organization and reusability.


**Advantages of OOP**

1.Provides a clear structure to programs.

2.Makes code easier to maintain, reuse, and debug.

3.Helps keep your code DRY (Don't Repeat Yourself).

4.Allows you to build reusable applications with less code

**Python Classes/Objects**


Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

Create a Class

To create a class, use the keyword class:

In [18]:
#class created
class MyClass:
  x=5

#object created
p1=MyClass()
print(p1.x)

5

**The __init__() Method**


The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() method.

All classes have a method called __init__(), which is always executed when the class is being initiated.

Use the __init__() method to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [20]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

p1 = Person("Sanjib",18)
print(p1.name ," ", p1.age)

Sanjib   18

In [21]:
# The string representation of an object WITH the __str__() method:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)


# Delete the age property from the p1 object:

# del p1.age

John(36)

**Python Inheritance**


Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

In [22]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()


# Create a Child Class
# To create a class that inherits the functionality from another class,
# send the parent class as a parameter when creating the child class:
class Student(Person):
  pass

# Note: Use the pass keyword when you do not want to add
# any other properties or methods to the class.

x = Student("Mike", "Olsen")
x.printname()

John Doe
Mike Olsen

**What is a Module?**

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

**Create a Module**

To create a module just save the code you want in a file with the file extension .py:

In [23]:
#Creating a module
def greeting(name):
  print("Hello, ",name)
# Save this code in a file named mymodule.py

# Using the module
import mymodule

mymodule.greeting("Jonathan")

# Re-naming a module
import mymodule as mx

Hello,  Sanjib

In [25]:
# Python Datetime

import datetime;
x=datetime.datetime.now();
print(x)
print(x.year)
print(x.strftime("%A"))

2025-09-15 03:30:51.690831
2025
Monday

In [26]:
#Creating a date object

import datetime

x = datetime.datetime(2020, 5, 17)  # year, month, day

print(x)

2020-05-17 00:00:00

In [29]:
#Python Math
# min() and max()
x = min(5, 10, 25)
y = max(5, 10, 25)
print(x)
print(y)

# abs()
x = abs(-7.25)
print(x)

#pow(x,y)
x=pow(2,3)
print(x)

# Math module
import math
# srrt() , ceil() , floor() , math.pi
x=math.sqrt(25)
print(x)

5
25
7.25
8
5.0

**Pthon JSON**

JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

#import the json module

import json

In [ ]:
# Parse JSON - Convert from JSON to Python (loads)

import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y)  # a dict
print(y["age"]) #30

In [30]:
# Convert from Python to JSON (dumps)
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

You can convert Python objects of the following types, into JSON strings:

dict
list
tuple
string
int
float
True
False
None

In [31]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:

Python	  JSON
dict	    Object
list	    Array
tuple	    Array
str	      String
int	      Number
float    	Number
True	    true
False	    false
None	    null

In [ ]:
# Convert a Python object containing all the legal data types:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

In [ ]:
# Use the indent parameter to define the numbers of indents:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use four indents to make it easier to read the result:
print(json.dumps(x, indent=4))

# You can also define the separators, default value is (", " , " : "),
#  which means using a comma and a space to separate each object,
# and a colon and a space to separate keys from values:

In [33]:
# Order the Result
# The json.dumps() method has parameters to order the keys in the result:

# Example
# Use the sort_keys parameter to specify if the
#  result should be sorted or not:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

**Python RegEx**

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.


RegEx Module
Python has a built-in package called re, which can be used to work with Regular Expressions.

<!-- Import the re module: -->

import re

In [36]:
import re
#Check if the string starts with "The" and ends with "Spain":
txt ="The rain in Spain"
x=re.search("^The.*Spain$",txt)

if x:
  print("Yes! We have a match.")
else:
  print("No match.")


# ^ → start-of-string anchor (match must begin at the string start).

# The → literal characters T h e (case-sensitive).

# .* → . matches any character except newline (by default); * means 0 or
#  more of those — so this matches any characters of any length (greedy).

# Spain → literal substring Spain.

# $ → end-of-string anchor (match must end at the string end).

Yes! We have a match.

**What is PIP?**

PIP is a package manager for Python packages, or modules if you like.

A package contains all the files you need for a module.

Modules are Python code libraries you can include in your project.


pip --version
pip install camelcase
pip uninstall camelcase
pip list

In [39]:
# pip install camelcase - teminal stuffs
# import camelcase
# c=camelcase.CamelCase()

# txt="hello world"
# print(c.hump(txt))

**Python Try Except**

The try block - lets you test a block of code for errors.

The except block - lets you handle the error.

The else block - lets you execute code when there is no error.

The finally block - lets you execute code, regardless of the result of the try- and except blocks.




<!-- Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the try statement: -->

In [43]:
#The try block will generate an error, because op is not defined:

try:
  print(op)
except:
  print("An exception occurred")

An exception occurred

In [44]:
#The try block will generate a NameError, because xname is not defined:

try:
  print(xname)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [45]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [46]:
try:
  print(xf)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [47]:
# Raise an exception
# As a Python developer you can choose to throw an exception
# if a condition occurs.

# To throw (or raise) an exception, use the raise keyword.

x = -1
if x<0:
  raise Exception("Sorry , no numbers below zero")

Exception: Sorry , no numbers below zero

In [48]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [49]:
#String formatting

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [50]:
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

In [51]:
# You can perform if...else statements inside the placeholders:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [52]:
# Add a placeholder where you want to display the price:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

# quantity = 3
# itemno = 567
# price = 49
# myorder = "I want {} pieces of item number {} for {:.2f} dollars."
# print(myorder.format(quantity, itemno, price))

The price is 49 dollars

In [54]:
#Python Input
print("Enter your name: ")
name = input()
print(f"My name is {name}")

Enter your name:
Harry
My name is Harry

**What is a Virtual Environment?**


A virtual environment in Python is an isolated environment on your computer, where you can run and test your Python projects.

It allows you to manage

project-specific dependencies without interfering with other projects or the original Python installation.

Think of a virtual environment as a separate container for each Python project. Each container:

...Has its own Python interpreter
...Has its own set of installed packages
...Is isolated from other virtual environments
...Can have different versions of the same package
...Using virtual environments is important because:

It prevents package version conflicts between projects

...Makes projects more portable and reproducible
...Keeps your system Python installation clean
...Allows testing with different Python versions

Creating a virtual environment

windows/linux/macOS

python -m venv myfirstproject

python → runs Python

-m → runs a module

venv → the module that creates a virtual environment

myProject → the name of the folder where the environment is created

To use the virtual environment, you have to activate it with this command:

Windows->

C:\Users\Your Name> myfirstproject\Scripts\activate

Linux/macOS->

$ source myfirstproject/bin/activate