<a href="https://colab.research.google.com/github/sanjib-biswal-git/PYTHON-BASICS_AND_LIBRARIES/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print statement example

In [ ]:
print("Hello World!")

Hello World!

if-statement example

In [ ]:
if 5>2:
 print("Hello World")

Hello World

if-else statement

In [ ]:
age=18
if(age>=18):
     print("You can vote.")
else:
     print("Can't vote.")

You can vote.

variables in python

In [ ]:
x=5
y="Hello"
z=4.5
b=False
c=True
print(b)
print(c)

False
True

# -This is a comment.
#-The same have to be used for multi lines comments also.
-----------------------------------
use multi-line string
"""
//text goes here
"""
-----------------------------------
'''
//text goes here

'''

Casting

In [ ]:
x=str(3) #'3'
y=int(3) #3
z=float(3) #3.0

Get the type

In [ ]:
x=5
print(type(x))
y="John"
print(type(y))

<class 'int'>
<class 'str'>

Python is case sensitive.
<!-- When something is case sensitive, it treats uppercase (A–Z) and lowercase (a–z) letters as different characters -->
A will not overwrite a.
There may be indentation errors.

Many Values to Multiple Variables

In [ ]:
x,y,z = "Orange","Apple","Banana"
print(x)
print(y)
print(z)

Orange
Apple
Banana

One Value to Multiple Variables

In [ ]:
x=y=z ="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection**
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits=["Apple","Grapes","Cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

Apple
Grapes
Cherry

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
<!-- TypeError: unsupported operand type(s) for +: 'int' and 'str' -->

In [ ]:
x = 5
y = "John"
print(x + y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x = 5
y = "John"
print(x, y)

Global Variables:

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x=7
def myFunc():
  print("My name is ",x)
myFunc()

My name is  7

f you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x="Sanjib"
def myFunc():
  x="Larry"
  print("My name is "+x)
myFunc()

print("My name is "+x)

My name is Larry
My name is Sanjib

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myFunc():
  global var28
  var28=6
myFunc()
print(var28)

6

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
var33 = 45
def myFunc():
  global var33
  var33=65
# myFunc()

print(var33)

45

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Text Type:	        str
Numeric Types:	    int, float, complex
Sequence Types:	    list, tuple, range
Mapping Type:	      dict
Set Types:	        set, frozenset
Boolean Type:	      bool
Binary Types:	      bytes, bytearray,  memoryview
None Type:	         NoneType

x = "Hello World"	   str
x = 20	             int
x = 20.5	           float
x = 1j	             complex
x = ["apple", "banana", "cherry"]	     list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
x = None	NoneType

**Random Number**
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random
print(random.randrange(1,100))

24

Casting in python is therefore done using constructor functions:
int()
float()
str()

In [ ]:
x="Sanjib"
print(len(x))

6

Multiline Strings
You can assign a multiline string to a variable by using three quotes:

Example-->

In [ ]:
a="""
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
"""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**
----------------------------

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a="Hello World"
print(a[1]) #e

e

**Looping Through a String**

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt="Sanjib is a good boy"
print("good" in txt)

True

Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt="Sanjib is a good boy."
print("good" not in txt)

False

**Slicing Strings**

In [ ]:
b="Hello, World!"
print(b[2:5]) #llo

llo

Slice From the Start

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**
--------------------

Use negative indexes to start the slice from the end of the string:

Tip: Count from last and index starts form 1.

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Python - Modify Strings**

UpperCase - .upper()
LowerCase - .lower()
Remove whitespace - .strip()
Replace String - .replace("Str1","Str2")
#char in python is also considered as a string of length 1.

Split string - .split(",")

String Concatenation - +

F-Strings

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
age = 20
print(f"My age is {age}")

My age is 20

**Placeholders and Modifiers**

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

**Placeholders can have math operations.**

In [ ]:
print(f"I need {20*40} million dollars.")

I need 800 million dollars.

**Escape Character**
\n-new line

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Boolean - True , False

#Falsy Values

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x,int))  #True
print(isinstance(x,float))  #False

True
False

**PYTHON OPERATORS**

.Arithmetic operators
    +,-,*,/
	Exponentiation	x ** y
    Floor division	x // y

.Assignment operators
.Comparison operators
.Logical operators
    and,or,not
.Identity operators
----------------------
is - return strue if both variable are same object

is not - return true if both variable are not same object

.Membership operators
------------------------
in
not in

.Bitwise operators
--------------------
AND(&)
OR(|)
XOR(^)
NOT(~)
LEFT SHIFT(<<)
RIGHT SHIFT(>>)

Four built-in libraries in python - List,Tuple,Set,Dictionary

**PYTHON LISTS**

--List items are ordered , changable and allow duplicate values.

--Tuple items are ordered and unchangeable. Allows duplicate members.

--Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.


*Set items are unchangeable, but you can remove and/or add items whenever you like.

--Dictionary is a collection which is ordered** and changeable. No duplicate members.


**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [ ]:
mylist =["apple","banana","cherry","apple"]
print(mylist)
print(mylist[2])   #access list items
print(mylist[-1])  #apple
print(len(mylist))

#list constructor
thislist = list(("apple","banana","grapes"))
print(thislist)

#change item value
mylist[0] = "avocado"
print(mylist)

#change in a range
thislist[0:2]=["hii","bye"]
print(thislist)


#Change the second value by replacing it with two new values
thisslist = ["apple", "banana", "cherry"]
thisslist[1:2] = ["blackcurrant", "watermelon"]
print(thisslist)


#Change the second and third value by replacing it with one value
thislis = ["apple", "banana", "cherry"]
thislis[1:3] = ["watermelon"]
print(thislis)
thislis.insert(1,"Jk Rollin")
print(thislis)
thislis.append("kurkure")
print(thislis)

['apple', 'banana', 'cherry', 'apple']
cherry
apple
4
['apple', 'banana', 'grapes']
['avocado', 'banana', 'cherry', 'apple']
['hii', 'bye', 'grapes']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']
['apple', 'Jk Rollin', 'watermelon']
['apple', 'Jk Rollin', 'watermelon', 'kurkure']

**Extend List**

In [ ]:
list1=["apple"]
list2=["orange"]
list1.extend(list2)
print(list1)
print(list2)

['apple', 'orange']
['orange']

**Add Any Iterable**

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Remove Specified Item**

The remove() method removes the specified item.

If duplicate elements are present,then it removes only the first one.

In [ ]:
thislist=["a","b","c","d"]
thislist.remove("c")
print(thislist)

['a', 'b', 'd']

Remove Specified Index

The pop() method removes the specified index.

To remove last element
list.pop()

In [ ]:
thislist=["apple","orange","banana"]
thislist.pop(1)
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
#del thislist

['banana', 'cherry']

The clear() method empties the list.

**Loop through a List**

In [ ]:
thislist=["apple","orange","banana"]
for x in thislist:
  print(x)

apple
orange
banana

In [ ]:
# Print from 1 to 10 using for-loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):   #range(3) - generates 0,1,2
  print(thislist[i])

apple
banana
cherry

Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i=0
while(i<len(thislist)):
  print(thislist[i])
  i+=1

apple
banana
cherry

**Looping Using List Comprehension**

---Its a bad practice in python.

In [ ]:
thislist = ["apple", "banana", "cherry"]
# for x in thislist:
#   print(x)
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#short alternative for the code given above
#syntax
# newlist = [expression for item in iterable if condition == True]
# The condition is like a filter that only accepts the items that evaluate to True.

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)
# newlist = [x.upper() for x in fruits]
# newlist = ['hello' for x in fruits]

['apple', 'banana', 'mango']

Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

Example
You can use the range() function to create an iterable:

In [ ]:
newlist=[x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

**Python - Sort Lists**

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort();
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [ ]:
# Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True);
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

Customize Sort Function

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def my_funcn(n):
  return abs(n-50)

thislist=[100,50,65,82,23]
thislist.sort(key=my_funcn)
print(thislist)

[50, 65, 23, 82, 100]

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']